.Home_Affiliated_Container {
  width: 100%;
  text-align: center;
  height: 282px;
  background: #ffffff;
  margin-top: 20px;
}
.Home_Affiliated_Title {
  color: #dd0c39;
  margin-top: 1rem;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 600;
}
.Tab_Menu {
  max-width: 1191px;
  margin: 80px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.Home_Affiliated_Nav {
  list-style: none;
  height: 31px;
  padding: 0;
}

.Tab_text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
.Acive_Tab_menu {
  border-bottom: 2.4px solid #d92938;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
/* .slick-dots {
    display: none !important;
  }
  .slick-arrow {
    display: none !important;
  } */
.slick-prev,
.slick-next {
  display: none;
}
.Carousel_Container {
  width: 93%;
  margin: 40px auto 0px auto;
}
.Carousel_item {
  margin: 0px auto;
  width: 160px;
  height: 160px;
}
@media only screen and (max-width: 780px) {
  .Home_Affiliated_Container {
    margin-top: 2px;
  }
}
