.whyrodhi {
  margin-top: 34px;
  box-sizing: border-box;
}
.whyrodhi_heading {
  color: #dd0c39;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 600;
}

.whyrodhi_table {
  margin: 20px auto 0px auto;
}
.whyrodhi_row {
  height: 230px;
  width: 100%;
}
.whyrodhi_firstrow1 {
  width: 33.33%;
  height: 230px;
  text-align: center;
  border: 1px solid #fff;
}
.whyrodhi_firstrow1:hover {
  background-color: #fbf5f5;
  border: 1px solid #fbf5f5;
  border-radius: 30px;
  cursor: pointer;
}
.whyrodhi_firstrow1 > img {
  width: 322px;
  height: 247px;
  object-fit: contain;
  color: #dd0c39;
  margin-top: -76px;
}
.whyrodhi_items1 {
  font-size: 21px;
  text-align: center;
  color: black;
  margin-top: -48px;
}
.whyrodhi_firstrow2 {
  width: 33.33%;
  height: 230px;
  text-align: center;
  border: 1px solid #fff;
}
.whyrodhi_firstrow2:hover {
  background-color: #fbf5f5;
  border: 1px solid #fbf5f5;
  border-radius: 30px;
  cursor: pointer;
}
.whyrodhi_firstrow2 > img {
  width: 307px;
  height: 270px;
  object-fit: contain;
  margin-top: -81px;
}
.whyrodhi_items2 {
  font-size: 21px;
  text-align: center;
  color: black;
  margin-top: -66px;
}
.whyrodhi_firstrow3 {
  width: 33.33%;
  height: 230px;
  text-align: center;
  border: 1px solid #fff;
}
.whyrodhi_firstrow3:hover {
  background-color: #fbf5f5;
  border: 1px solid #fbf5f5;
  border-radius: 30px;
  cursor: pointer;
}
.whyrodhi_firstrow3 > img {
  width: 330px;
  height: 297px;
  object-fit: contain;
  margin-top: -81px;
}
.whyrodhi_items3 {
  font-size: 21px;
  text-align: center;
  color: black;
  margin-top: -98px;
}
.whyrodhi_rowsecond {
  height: 230px;
}
.whyrodhi_secondrow1 {
  width: 400px;
  height: 230px;
  text-align: center;
  border: 1px solid #fff;
}
.whyrodhi_secondrow1:hover {
  background-color: #fbf5f5;
  border: 1px solid #fbf5f5;
  border-radius: 30px;
  cursor: pointer;
}
.whyrodhi_secondrow1 > img {
  width: 350px;
  height: 289px;
  object-fit: contain;
  margin-top: -94px;
}
.whyrodhi_items4 {
  font-size: 21px;
  text-align: center;
  color: black;
  margin-top: -95px;
}
.whyrodhi_secondrow2 {
  width: 400px;
  height: 230px;
  border: 1px solid #fff;
}
.whyrodhi_secondrow2:hover {
  background-color: #fbf5f5;
  border: 1px solid #fbf5f5;
  border-radius: 30px;
  cursor: pointer;
}
.whyrodhi_secondrow2 > img {
  width: 350px;
  height: 260px;
  object-fit: contain;
  margin-top: -64px;
}
.whyrodhi_items5 {
  font-size: 21px;
  text-align: center;
  color: black;
  margin-top: -81px;
}
.whyrodhi_secondrow3 {
  width: 400px;
  height: 230px;
  text-align: center;
  border: 1px solid #fff;
}
.whyrodhi_secondrow3:hover {
  background-color: #fbf5f5;
  border: 1px solid #fbf5f5;
  border-radius: 30px;
  cursor: pointer;
}
.whyrodhi_secondrow3 > img {
  width: 350px;
  height: 238px;
  object-fit: contain;
  margin-top: -53px;
}
.whyrodhi_items6 {
  font-size: 21px;
  text-align: center;
  color: black;
  margin-top: -59px;
}
.why_rodhi_talk > a {
  background-color: white;
  width: 243px;
  border: 2px solid #003893;
  color: #003893;
  padding: 4px 9px;
  border-radius: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
}
.why_rodhi_talk > a:hover {
  background-color: #fff;
  border: 2px solid #dd0c39;
  color: #dd0c39;
  transition: 0.3s;
  cursor: pointer;
}
.why_rodhi_talk {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.whyrodhi_mobile_table {
  display: none;
}
@media screen and (max-width: 780px) {
  .whyrodhi {
    width: 100%;
    margin-top: 30px;
  }
  .whyrodhi_heading {
    font-size: 30px;
    line-height: 43px;
    text-transform: capitalize;
    padding-top: 1px;
    text-align: center;
    font-weight: 600;
    margin-top: 1px;
    color: #dd0c39;
    margin-bottom: 0px;
  }
  .whyrodhi_table {
    display: none;
  }
  .whyrodhi_mobile_table {
    display: contents;
    margin: 13px auto 0px auto;
    border-spacing: 9px 2px;
    border-collapse: separate;
  }
  .whyrodhi_mobile_row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .whyrodhi_mobile_firstrow1 {
    width: 50%;
    height: 146px;
    padding-left: 0px;
    margin-right: 7px;
    text-align: center;
  }
  .whyrodhi_mobile_firstrow1 > img {
    width: 100%;
    height: 115px;
    object-fit: contain;
    margin-top: -19px;
  }
  .whyrodhi_mobile_items1 {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: -23px;
    margin-bottom: 0px;
  }
  .whyrodhi_mobile_firstrow2 {
    width: 50%;
    height: 146px;
    padding-left: 0px;
    margin-left: 7px;
    text-align: center;
  }
  .whyrodhi_mobile_firstrow2 > img {
    width: 100%;
    height: 115px;
    object-fit: contain;
    margin-top: -13px;
  }
  .whyrodhi_mobile_items2 {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: -28px;
    margin-bottom: 0px;
  }
  .whyrodhi_mobile_rowsecond {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .whyrodhi_mobile_secondrow1 {
    width: 50%;
    height: 146px;
    padding-left: 0px;
    margin-right: 7px;
    text-align: center;
  }
  .whyrodhi_mobile_secondrow1 > img {
    width: 98%;
    height: 154px;
    object-fit: contain;
    margin-top: -41px;
  }
  .whyrodhi_mobile_items3 {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: -50px;
    margin-bottom: 0px;
  }
  .whyrodhi_mobile_secondrow2 {
    width: 50%;
    height: 146px;
    padding-left: 0px;
    margin-left: 7px;
    text-align: center;
  }
  .whyrodhi_mobile_secondrow2 > img {
    width: 98%;
    height: 136px;
    object-fit: contain;
    margin-top: -26px;
  }
  .whyrodhi_mobile_items4 {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: -45px;
    margin-bottom: 0px;
  }
  .whyrodhi_rowthird {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .whyrodhi_mobile_thirdrow1 {
    width: 50%;
    height: 100px;
    padding-left: 0px;
    margin-right: 7px;
    text-align: center;
  }
  .whyrodhi_mobile_thirdrow1 > img {
    width: 100%;
    height: 126px;
    object-fit: contain;
    margin-top: -31px;
  }
  .whyrodhi_mobile_items5 {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: -36px;
  }
  .whyrodhi_mobile_thirdrow2 {
    width: 50%;
    height: 106px;
    padding-left: 0px;
    text-align: center;
    margin-left: 7px;
  }
  .whyrodhi_mobile_thirdrow2 > img {
    width: 98%;
    height: 114px;
    object-fit: contain;
    margin-top: -26px;
  }
  .whyrodhi_mobile_items6 {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: -29px;
    margin-bottom: 0px;
  }

  .whyrodhi_talk {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
  .why_rodhi_talk_button {
    font-size: 18px;
  }
  .why_rodhi_talk > a {
    background-color: white;
    width: 179px;
    border: 2px solid #003893;
    color: #003893;
    padding: 2px 9px;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 2px;
  }
}
