.css-140puxv-MuiTypography-root-MuiDialogTitle-root {
  background-color: red !important;
  color: white !important;
}
.css-i4bv87-MuiSvgIcon-root {
  font-size: 2.5rem !important;
  color: white !important;
}
